# npm
node_modules

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.jspn

# ide
.idea

# user
/config/developer_user.js
/server/src/ssr/render.js

